@{
  Layout = "_Layout";
}

@model PierresInventory.Models.Treat

<h4>Add an Treat</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatName)
  @Html.TextBoxFor(model => model.TreatName)
  <input type="submit" value="Add a new Treat" />
}

<p>@Html.ActionLink("Show all Treats", "Index")</p>